name: 游 Deploy al servidor FTP

on:
  push:
    branches:
      - main  # Cambi치 esto si us치s otra rama principal

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Clonar repositorio
        uses: actions/checkout@v4

      - name: 游 Deploy por FTP solo archivos modificados
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./miet20web/
          server-dir: /htdocs/miet20/  # Ajust치 esto seg칰n tu carpeta en el server
          exclude: |
            node_modules/**
            .git/**
            .github/**
            **/.DS_Store
            **/Thumbs.db

